/* Universal Styles*/

html, body {
    margin: 0;
    padding: 0;
}

li {
    text-decoration: none;
}

ul {
    list-style-type: none;
  }

h1 {
    font-family: "Crimson Text";
    font-weight: 700;
    font-size: 40px;
}

p {
    font-family: "Crimson Text";
    font-size: 18px;
}

a, h4 {
    color: black;
    font-family: Poppins;
    font-weight: 600;
    text-decoration: none;
}

body {
    font-family: "Noto Serif";
    font-size: 16px;
    line-height: 28px;
    padding-top: 30px;
    color: #1f1f1d;
    background-color: rgb(255, 255, 255);
}  

/* Header */

.social-header {
    text-align: right;
    margin: 0px 85px 30px 10px;

}

.social-header i {
    margin: 7px;
}
 
.brand-logo-container {
    display: flex;
    height: 175px;
    width: 90%;
    margin: auto;
    overflow: hidden;
    background-image: url(../Images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.all-nav-container {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    margin-top: 30px;
}

.nav-container {
    display: flex;
    width: 60%;
    max-height: 100%;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.nav-link-wrapper {
    text-transform: uppercase;
    height: 22px;
    padding: 5px;
    border-bottom: 1px double transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper-flower img {
    display: flex;
    width: 25px;
    height: auto;
    opacity: 0.8;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px double black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.break-img {
    display: block;
    height: 1000px;
    width: 100%;
    margin: auto;
    background-image: url(../Images/nick-millie-kiss.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* Quote Section */

.quote-container-main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 90%;
    height: 450px;
    margin: auto;
}

.quote-container {
    display: flex;
    height: 400px;
    width: 300px;
    color: black;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.quote-container h1 {
    line-height: 40px;
}

/* Discography */

.discographys-container {
    display: flex;
    height: 500px;
    width: 100%;
    margin: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #ecead5;
}

.title-container {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: 40px 0px 50px 0px;
}

.title-container h4 {
    color: #222222;
}

.discography-container {
    display: flex;
    width: 80%;
    height: 300px;
    justify-content: space-around;
    align-items: center;
}

.img-text-wrapper-1 {
    display: flex;
    width: 300px;
    height: 300px;
    background-image: url(../Images/Sly\ Devil.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.img-text-wrapper-2 {
    display: flex;
    width: 300px;
    height: 300px;
    background-image: url(../Images/Days\ Gone.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.album-title a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: transparent;
    border: transparent;
    transition: color 0.5s, border ease-out 0.5s;
    font-size: 40px;
    width: 300px;
    height: 300px;
}

.album-title a:hover {
    color:rgb(205, 68, 58);
    border: 5px solid rgb(205, 68, 58);
    width: 300px;
    height: 300px;
}

/* About */

.about-container {
    display: flex;
    width: 100%;
    height: auto;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.about-title {
    margin-top: 50px;
}

.about-content-container {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;

}

.about-img img{
    width: 500px;
    height: auto;
    margin: 30px;
}

.about-text h1 {
    font-size: 26px;
}

.about-text a {
    color: rgb(205, 68, 58);
    transition: color 0.5s, text-decoration 0.5s;
    font-family: "Crimson Text";
    font-weight: 700;
}

.about-text a:hover {
    color: rgb(214, 137, 132);
    text-decoration: none;
}

/* Pre-Footer */

.social-footer-container {
    display: flex;
    height: 300px;
    width: 100%;
    background-color: rgb(205, 68, 58);
    align-items: center;
    justify-content: space-between;
}

.social-footer-flower img {
    display: flex;
    height: auto;
    width: 250px;
    margin-right: 100px;
}

.social-footer {
    display: flex;
    margin-left: 100px;

}

.social-footer i {
    margin: 70px;
    color: #ecead5;
}

/* Footer */

footer {
    display: flex;
    height: 500px;
    width: 100%;
    color: #8f7755;
    background-color: #281b19;
    align-items: center;
    justify-content: space-between;
}

.footer-nav {
    display: flex;
    height: 400px;
    width: 200px;
}

.footer-nav .nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 38px;
}

.footer-nav .nav li {
    margin: 10px;
}

.footer-nav .nav li a {
    color:  #8f7755;
    transition: color 0.5s;
}

.footer-nav .nav li a:hover {
    color: #ecead5;
}

.footer-contact-container {
    display: flex;
    height: 400px;
    width: 800px;
    flex-flow: column;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-logo img{
    display: flex;
    width: 700px;
    height: auto;
}

.footer-contact {
    margin-bottom: 50px;
}

.footer-contact h4 {
    color:  #8f7755;
}

.copyright {
    align-self: flex-end;
}

.copyright p {
    margin-right: 20px ;
}